body {
    font-family: Roboto, Oxygen, Ubuntu;
    margin: 0;
}

/* Color the Header, Container 1 and Footer */
.header, .footer,.container1 {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

/* Display the header's element correctly */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header, .container1, .container2,.container3{
    padding : 40px 20% 40px 20%;
}

/* Adjust font logo */
.logo {
    font-size: 24px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Right elements (the links) of the header */
.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

/* Suppress the link style */
a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}


/* Container 1 */
.container1 {
    gap: 50px;
}

/* Text side */
.containertext {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    padding: 10px 15px 10px 0px;
    justify-content: space-between;
    align-items: flex-start
}

.title1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.cta, button {
    background-color: #3882F6;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 25px;
    width:150px;
    box-shadow: none;
    flex-shrink: 0;
}

.button1 {
    border: none;
}

.subtitle {
    font-size: 18px;
}

/* Image side */
.image {
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-basis: 80%;
    min-width: 400px;
    max-width: 800px;
    height: auto;
    /* border: 1px solid #F9FAF8; */

}

.image img {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .container1, .cta {
        flex-direction: column;
    }
    .containertext, .cta2 {
        margin-bottom: 15px;
    }
    .title1, .button1, .image{
        align-self: center;
    }
    .subtitle, .title1, .cta2 {
    text-align: center;
    }
}

/* Container 2 */
.container2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}

/* Boxes container */
.boxes {
    display: flex;
    flex-flow: row wrap;

    gap: 20px;
}

.info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    
    flex-grow: 1;
}

.boxes img {
    width: 200px;
    height: auto;
}

.text {
    max-width: 200px;
}

/* Quote container */
.container3 {
    align-items: left;
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 15px;
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight: 300;
    color: #1F2937;
}

.author {
    text-align: end;
    font-weight: 800;
    font-size: 18px;
}

/* Footer */
.footer {
    background-color: hsl(0, 0%, 100%);
    padding: 75px;
    display: flex;
    justify-content: center;
}

.cta {
    padding: 30px 50px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap : 15px;
    flex:1;
    max-width : 60%;
}

.cta2 {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}

.titlex {
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
}

.subtitlex {
    font-size: 18px;
    color: #ffffff;
}

.button2 {
    border: 1px solid #ffffff;
}