body {
    font-family: Roboto, Oxygen, Ubuntu;
    margin: 0;
}

/* Color the Header, 1st Container and Footer */
.header, .footer,.container1 {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

/* Display the header's element correctly */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* Adjust font logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Right elements (the links) of the header */
.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

/* Suppress the link style */
a {
    color: #F9FAF8;
    text-decoration: none;
}







/*
Dark background color 1 (Hero & Footer)
#1F2937

Hero Main text ("this website is awesome")
48px #F9FAF8 Weight 900

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text
24 px #F9FAF8

--

Button color, call to action background color
#3882F6

Information header text
36px #1F2937 Weight 900

--

Quote section background color 2
#E5E7EB

Quote text
36px light italic #1F2937

*/